form.form-stacked.install(method='post')
  fieldset

    legend.logo CollegeSpyder
    h4 Enter credentials for a master administrator.

    - var username =  form.fields.username
    - var password =  form.fields.password
    - var confirm =   form.fields.confirm
    - var email =     form.fields.email

    // Username.
    if username.errorHTML() == ''
      div.clearfix
        label(for='username')= username.label
        div.input
          input(type="text", name="username", value=username.data)
    else
      div.clearfix.error
        label(for='username')= username.label
        div.input
          input.error(type="text", name="username", value=username.data)
          span.help-inline= username.error

    // Password.
    if password.errorHTML() == ''
      div.clearfix
        label(for='password')= password.label
        div.input
          input(type="password", name="password", value=password.data)
    else
      div.clearfix.error
        label(for='password')= password.label
        div.input
          input.error(type="password", name="password", value=password.data)
          span.help-inline= password.error

    // Confirm.
    if confirm.errorHTML() == ''
      div.clearfix
        label(for='confirm')= confirm.label
        div.input
          input(type="password", name="confirm", value=confirm.data)
    else
      div.clearfix.error
        label(for='confirm')= confirm.label
        div.input
          input.error(type="password", name="confirm", value=confirm.data)
          span.help-inline= confirm.error

    // Email.
    if email.errorHTML() == ''
      div.clearfix
        label(for='email')= email.label
        div.input
          input(type="text", name="email", value=email.data)
    else
      div.clearfix.error
        label(for='email')= email.label
        div.input
          input.error(type="text", name="email", value=email.data)
          span.help-inline= email.error

  div.actions
    button.btn.primary.large(type='submit') Submit
