extends layout

block content

  each poem in poems
    div.poem
      a.hash(href='/#{poem.hash}')= poem.hash
      each line in poem.words
        div.line
          each word in line
            span.word= word

      div.actions

        if poem.unstarted || poem.paused
          form.inline(method='post'
            action='/admin/start/#{poem.hash}')
            button.btn.btn-link(type='submit') start

        if poem.running
          form.inline(method='post'
            action='/admin/stop/#{poem.hash}')
            button.btn.btn-link(type='submit') stop

        form.inline(method='post'
          action='/admin/delete/#{poem.hash}')
          button.btn.btn-link.danger(type='submit') delete
