
include mixins
extends layout

block content
  +nav
    div.poems
      each poem in poems

        // Hash class.
        - hClass = 'paused'
        if poem.running
          - hClass = 'running'
        else if poem.complete
          - hClass = 'complete'

        div.poem(hash=poem.hash)

          a.hash(href='/poem/#{poem.hash}' class=hClass)= poem.hash

          span.divider

          - if (poem.syllableCount)

            span.words
              each line in poem.words
                span.line
                  each word in line
                    span.word= word

            span.divider

          // Buttons.
          span.actions

            if poem.unstarted || poem.paused
              form.inline.start(
                method='post'
                action='/admin/start/#{poem.hash}'
                hash=poem.hash)
                button.btn.btn-link(type='submit') start

            if poem.running
              form.inline.stop(
                method='post'
                action='/admin/stop/#{poem.hash}'
                hash=poem.hash)
                button.btn.btn-link(type='submit') stop

            - url = '/admin/delete/confirm/'+poem.hash
            a.btn.btn-link(href=url) delete
