if poems.length > 0
  table.table.list.table-condensed
    thead
      tr
        th slug
        th status
        th round len
        th slice int
        th min sub
        th sub val
        th decay
        th capital
        th vis words
        th admin
    tbody
      each poem in poems
        tr(slug=poem.slug)
          td.title
            a(href='/#{poem.slug}')= poem.slug
          if poem.running
            td.status running
          else
            if !poem.complete && !poem.started
              td.status unstarted
            else if !poem.complete && poem.started
              td.status paused
            else
              td.status complete
          td.roundLength.gray= poem.roundLength
          td.sliceInterval.gray= poem.sliceInterval
          td.minSubmissions.gray= poem.minSubmissions
          td.submissionVal.gray= poem.submissionVal
          td.decayLifetime.gray= poem.decayLifetime
          td.seedCapital.gray= poem.seedCapital
          td.visibleWords.gray= poem.visibleWords
          td
            if !poem.running && !poem.complete
              a.start.action(href='/admin/poems/start/#{poem.slug}') start
              if !poem.started
                a.edit(href='/admin/poems/edit/#{poem.slug}') edit
            else if poem.running && !poem.complete
              a.stop.action(href='/admin/poems/stop/#{poem.slug}') stop
            a.delete.danger(href='/admin/poems/delete/#{poem.slug}') delete
