extends layout

block content
  if poems.length > 0
    table.table.list.table-condensed
      thead
        tr
          th slug
          th status
          th round len
          th min sub
          th sub val
          th decay
          th capital
          th admin
      tbody
        each poem in poems
          tr(hash=poem.hash)
            td.title
              a(href='/#{poem.hash}')= poem.hash
            td.status
              if poem.unstarted
                | unstarted
              else if poem.running
                | running
              else if poem.paused
                | paused
              else if poem.complete
                | complete
            td.roundLength.gray= poem.roundLength
            td.minSubmissions.gray= poem.minSubmissions
            td.submissionVal.gray= poem.submissionVal
            td.decayLifetime.gray= poem.decayLifetime
            td.seedCapital.gray= poem.seedCapital
            td
              if poem.unstarted || poem.paused
                a.start.action(href='/admin/poems/start/#{poem.hash}') start
              if poem.unstarted
                a.edit(href='/admin/poems/edit/#{poem.hash}') edit
              if poem.running
                a.stop.action(href='/admin/poems/stop/#{poem.hash}') stop
              a.delete.danger(href='/admin/poems/delete/#{poem.hash}') delete
