if poems.length > 0
  table.table.list.table-condensed
    thead
      tr
        th slug
        th status
        th round len
        th slice int
        th min sub
        th sub val
        th decay
        th capital
        th vis words
        th admin
    tbody
      each poem in poems
        tr(slug=poem.slug)
          td.title
            a(href='/#{poem.slug}')= poem.slug
          td.status
            if poem.unstarted
              | unstarted
            else if poem.running
              | running
            else if poem.paused
              | paused
            else if poem.complete
              | complete
          td.roundLength.gray= poem.roundLength
          td.sliceInterval.gray= poem.sliceInterval
          td.minSubmissions.gray= poem.minSubmissions
          td.submissionVal.gray= poem.submissionVal
          td.decayLifetime.gray= poem.decayLifetime
          td.seedCapital.gray= poem.seedCapital
          td.visibleWords.gray= poem.visibleWords
          td
            if poem.unstarted || poem.paused
              a.start.action(href='/admin/poems/start/#{poem.slug}') start
            if poem.unstarted
              a.edit(href='/admin/poems/edit/#{poem.slug}') edit
            if poem.running
              a.stop.action(href='/admin/poems/stop/#{poem.slug}') stop
            a.delete.danger(href='/admin/poems/delete/#{poem.slug}') delete
