if poems.length > 0
  table.table.list.table-condensed
    thead
      tr
        th slug
        th status
        th round len
        th slice int
        th min sub
        th sub val
        th decay
        th capital
        th vis words
        th admin
    tbody
      each poem in poems
        tr(slug=poem.slug)
          td.title
            a(href='/#{poem.slug}')= poem.slug
          td
          td.gray= poem.roundLength
          td.gray= poem.sliceInterval
          td.gray= poem.minSubmissions
          td.gray= poem.submissionVal
          td.gray= poem.decayLifetime
          td.gray= poem.seedCapital
          td.gray= poem.visibleWords
          td
            if !poem.running && !poem.complete
              a.start.action(href='/admin/poems/start/#{poem.slug}') start
              a.edit(href='/admin/poems/edit/#{poem.slug}') edit
            else if poem.running && !poem.complete
              a.stop.action(href='/admin/poems/stop/#{poem.slug}') stop
            a.delete.danger(href='/admin/poems/delete/#{poem.slug}') delete
