
include nav
include form
extends layout

block content
  +nav

    form#new(method='post')

      // Shortcut round length fields, get error.
      - var rLenVal = form.fields.roundLengthValue
      - var rLenUnit = form.fields.roundLengthUnit
      - var error = rLenVal.errorHTML() != ''

      // Round length.
      div.form-group.roundLength(class=(error ? 'error' : ''))
        label(for='roundLengthValue') Word Duration

        // Length input
        input.form-control.rLenVal(
          type='text'
          name='roundLengthValue'
          autocomplete='off'
          value=rLenVal.value)

        // Unit radio buttons.
        div.btn-group(data-toggle='buttons')

          // Get active class.
          - var sClass = rLenUnit.value == 'seconds' ? 'active' : ''
          - var mClass = rLenUnit.value == 'minutes' ? 'active' : ''

          // Render the buttons.
          button.seconds.btn.btn-default.btn-sm(type='button') seconds
          button.minutes.btn.btn-default.btn-sm(type='button') minutes

        // Hidden unit input.
        input.form-control.rLenUnit(
          type='hidden'
          name='roundLengthUnit'
          value=rLenUnit.value)

        if error
          .alert.alert-danger.roundLengthValue= rLenVal.error


      +input(form.fields.seedCapital)
      +input(form.fields.submissionVal)
      +input(form.fields.decayHalflife)


      div.form-actions
        button.btn.btn-large.btn-primary(type='submit') Create
