
include nav
include form
extends layout

block append head
  script(src='/javascripts/dist/admin.js')
  script(src='/javascripts/init/add.js')

block content
  +nav

    form#new(method='post')

      // Shortcut round length fields, get error.
      - var rLenVal = form.fields.roundLengthValue
      - var rLenUnit = form.fields.roundLengthUnit
      - var error = rLenVal.errorHTML() != ''

      // Round length.
      +input(form.fields.roundLengthValue)
        div.btn-group(data-toggle='buttons')

          // Get active class.
          - var sClass = rLenUnit.value == 'seconds' ? 'active' : ''
          - var mClass = rLenUnit.value == 'minutes' ? 'active' : ''

          // Unit ratio buttons.
          label.btn.btn-default.btn-sm(class=sClass)
            input.seconds(
              type='radio'
              name='roundLengthUnit'
              value="seconds")
            | seconds
          label.btn.btn-default.btn-sm(class=mClass)
            input.minutes(
              type='radio'
              name='roundLengthUnit'
              value="minutes")
            | minutes

      +input(form.fields.seedCapital)
      +input(form.fields.submissionVal)
      +input(form.fields.decayHalflife)

      div.form-actions
        button.btn.btn-primary(type='submit') Create
