extends layout

block js
  script(src='/javascripts/vendor/load/load.js')
  script(src='/javascripts/apps/create/loader.js')

block content

  form#new(method='post')

    h1.form-header new poem

    // Round length.
    - var value = form.fields.roundLengthValue
    - var unit = form.fields.roundLengthUnit
    - var error = value.errorHTML() != ''
    div.control-group.roundLength(class=(error ? 'error' : ''))
      label.control-label(for='roundLengthValue') Word Duration
      div.controls
        input.rLenVal(type='text', name='roundLengthValue', autocomplete='off', value=value.value)
        div.btn-group(data-toggle='buttons-radio')
          button.seconds.btn.btn-small(type='button', class=(unit.value=='seconds' ? 'active' : '')) seconds
          button.minutes.btn.btn-small(type='button', class=(unit.value=='minutes' ? 'active' : '')) minutes
        input.rLenUnit(type='hidden', name='roundLengthUnit', value=unit.value)
        if error
          span.help-inline.roundLengthValue= value.error

    // Seed capital.
    - var field = form.fields.seedCapital
    - var error = field.errorHTML() != ''
    div.control-group(class=(error ? 'error' : ''))
      label.control-label(for='seedCapital') Points per Word
      div.controls
        input.seedCap(type='text', name='seedCapital', autocomplete='off', value=form.fields.seedCapital.value)
        if error
          span.help-inline.seedCapital= form.fields.seedCapital.error

    // Published.
    div.control-group
      div.controls
        label.checkbox
          if form.fields.published.value
            input.published(type='checkbox', name='published', checked='checked')
          else
            input.published(type='checkbox', name='published')
          span Published

    div.form-actions
      button.btn.btn-large.btn-primary(type='submit') Create
