extends layout

block js
  script(src='/javascripts/vendor/load/load.js')
  script(src='/javascripts/apps/create/loader.js')

block content

  form#new(method='post')

    h1.form-header new poem

    // Shortcut round length fields, get error.
    - var rLenVal = form.fields.roundLengthValue
    - var rLenUnit = form.fields.roundLengthUnit
    - var error = rLenVal.errorHTML() != ''


    // Round length.
    div.control-group.roundLength(class=(error ? 'error' : ''))
      label.control-label(for='roundLengthValue') Word Duration
      div.controls

        // Length input
        input.rLenVal(
          type='text'
          name='roundLengthValue'
          autocomplete='off'
          value=rLenVal.value)

        // Unit radio buttons.
        div.btn-group(data-toggle='buttons-radio')

          // Get active class.
          - var sClass = rLenUnit.value=='seconds'?'active':''
          - var mClass = rLenUnit.value=='minutes'?'active':''

          // Render the buttons.
          button.seconds.btn.btn-small(
            type='button', class=sClass) seconds
          button.minutes.btn.btn-small(
            type='button', class=mClass) minutes

        // Hidden unit input.
        input.rLenUnit(
          type='hidden'
          name='roundLengthUnit'
          value=rLenUnit.value)

        if error
          span.help-inline.roundLengthValue= rLenVal.error


    // Seed capital.
    - var seedCap = form.fields.seedCapital
    - var error = seedCap.errorHTML() != ''
    div.control-group(class=(error ? 'error' : ''))
      label.control-label(for='seedCapital') Points per Word
      div.controls

        input.seedCap(
          type='text'
          name='seedCapital'
          autocomplete='off'
          value=seedCap.value)

        if error
          span.help-inline.seedCapital= seedCap.error


    // Minimum submissions.
    - var minSub = form.fields.minSubmissions
    - var error = minSub.errorHTML() != ''
    div.control-group(class=(error ? 'error' : ''))
      label.control-label(for='minSubmissions') Min. Submissions
      div.controls

        input.minSub(
          type='text'
          name='minSubmissions'
          autocomplete='off'
          value=minSub.value)

        if error
          span.help-inline.minSubmissions= minSub.error


    // Submission value.
    - var subVal = form.fields.submissionVal
    - var error = subVal.errorHTML() != ''
    div.control-group(class=(error ? 'error' : ''))
      label.control-label(for='submissionVal') Submission value
      div.controls

        input.subVal(
          type='text'
          name='submissionVal'
          autocomplete='off'
          value=subVal.value)

        if error
          span.help-inline.submissionVal= subVal.error


    // Decay lifetime.
    - var decLife = form.fields.decayLifetime
    - var error = decLife.errorHTML() != ''
    div.control-group(class=(error ? 'error' : ''))
      label.control-label(for='decayLifetime') Decay Lifetime
      div.controls

        input.decLife(
          type='text'
          name='decayLifetime'
          autocomplete='off'
          value=subVal.value)

        if error
          span.help-inline.decayLifetime= subVal.error


    // Published.
    div.control-group
      div.controls
        label.checkbox
          if form.fields.published.value
            input.published(
              type='checkbox'
              name='published'
              checked='checked')
          else
            input.published(
              type='checkbox'
              name='published')
          span Published


    div.form-actions
      button.btn.btn-large.btn-primary(type='submit') Create
