each field in form.fields
  if field.widget.type == 'text'
    if field.errorHTML() == ''
      div.control-group
        label.control-label(for=field.name)= field.label
        div.controls
          input(type="text", name=field.name, value=field.value)
    else
      div.control-group.error
        label.control-label(for=field.name)= field.label
        div.controls
          input(type="text", name=field.name, value=field.value)
          span.help-inline(class=field.name)= field.error
  else if field.widget.type == 'password'
    if field.errorHTML() == ''
      div.control-group
        label.control-label(for=field.name)= field.label
        div.controls
          input(type="password", name=field.name, value=field.data)
    else
      div.control-group.error
        label.control-label(for=field.name)= field.label
        div.controls
          input(type="password", name=field.name, value=field.data)
          span.help-inline(class=field.name)= field.error
  else if field.widget.type == 'checkbox'
    div.control-group
      label.control-label(for=field.name)= field.label
      div.controls
        label.checkbox
          if field.data
            input(type="checkbox", name=field.name, checked)
          else
            input(type="checkbox", name=field.name)
