if field.errorHTML() == ''
  div.control-group
    label.control-label(for=name)= field.label
    div.controls
      input(type="password", name=name, value=field.data)
else
  div.control-group.error
    label.control-label(for=name)= field.label
    div.controls
      input(type="password", name=name, value=field.data)
      span.help-inline= field.error
