each field in form.fields

  if field.widget.type == 'text'
    - var error = field.errorHTML() != ''
    div.form-group(class=(error ? 'error' : ''))
      label(for=field.name)= field.label
      input.form-control(type="text", name=field.name, value=field.value)
      if error
        .alert.alert-danger(class=field.name)= field.error

  else if field.widget.type == 'password'
    - var error = field.errorHTML() != ''
    div.form-group(class=(error ? 'error' : ''))
      label(for=field.name)= field.label
      input.form-control(type="password", name=field.name, value=field.data)
      if error
        .alert.alert-danger(class=field.name)= field.error
