table.table.list.table-condensed
  thead
    tr
      th username
      th email
      th super
      th active
      th
  tbody
    each listUser in users
      tr
        td.title= listUser.username
        td= listUser.email
        td= boolYesNo(listUser.super)
        td= boolYesNo(listUser.active)
        td
          a(href='/admin/users/edit/#{listUser.username}') edit
          if listUser.id != user.id
            a.danger(href='/admin/users/delete/#{listUser.username}') delete
