table.table.list.table-condensed
  thead
    tr
      th name
      th slug
      th url
      th
  tbody
    each pub in pubs
      tr
        td.title= pub.name
        td= pub.slug
        td
          a(href=pub.url)= pub.url
        td
          a(href='/admin/publications/edit/#{pub.slug}') edit
          a.danger(href='/admin/publications/delete/#{pub.slug}') delete
