form.form-horizontal(method='post')
  fieldset

    legend Edit <strong>#{form.fields.username.data}</strong>

    - var username =  form.fields.username
    - var email =     form.fields.email
    - var superUser = form.fields.superUser
    - var active =    form.fields.active

    // Username.
    if username.errorHTML() == ''
      div.control-group
        label.control-label(for='username')= username.label
        div.controls
          input(type="text", name="username", value=username.data)
    else
      div.control-group.error
        label.control-label(for='username')= username.label
        div.controls
          input(type="text", name="username", value=username.data)
          span.help-inline= username.error

    // Email.
    if email.errorHTML() == ''
      div.control-group
        label.control-label(for='email')= email.label
        div.controls
          input(type="text", name="email", value=email.data)
    else
      div.control-group.error
        label.control-label(for='email')= email.label
        div.controls
          input(type="text", name="email", value=email.data)
          span.help-inline= email.error

    // Super.
    div.control-group
      label.control-label(for='superUser')= superUser.label
      div.controls
        label.checkbox
          if superUser.data
            input(type="checkbox", name="active", checked)
          else
            input(type="checkbox", name="active")

    // Active.
    div.control-group
      label.control-label(for='active')= active.label
      div.controls
        label.checkbox
          if active.data
            input(type="checkbox", name="active", checked)
          else
            input(type="checkbox", name="active")

  div.form-actions
    button.btn.btn-primary(type='submit') Save
